/* ======================= *\
  REGISTER, LOGIN + ADDPOST
\* ======================= */
/*Los tamaños de letra, colores, bordes... ver de hacer variables y usar en todos lados lo mismo*/

.form-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh; 
}

.form-pages p {
  font-size: 1.2rem; 
  text-align: center; 
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem; 
  margin-bottom: 10px; 
}

p {
  font-size: 1.2rem; 
  text-align: center; 
}

.logo-dark-mode {
  cursor: pointer;
  margin-bottom: 10px;
}
/* ======================= *\
       FORMS GENERICO
\* ======================= */
.form {
  width: 100%; 
  max-width: 400px; 
  padding: 35px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  text-align: center;
}

.form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input[type="text"], .form input[type="email"], .form input[type="password"] {
  width: 100%; 
  padding: 15px; 
  margin-bottom: 15px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* ======================= *\
        FORM ADDPOST
\* ======================= */

.form.add-post-form div{
  margin-top: 15px;
}

.form.add-post-form input[type="text"] {
  width: 180px;
  height: 30px;
}

.form.add-post-form textarea {
  margin-top: -10px;
  max-width: 255px;
  max-height: 119px;
  width: 437px;
  height: 75px;
  padding: 10px;
  border-radius: 5px;
}

/* ======================= *\
          BUTTONS
\* ======================= */

.error-message {
  color: red; 
  margin-top: 10px; 
}

#login-link, #register-link {
  margin-top: 20px;
}