/* Dentro de homePage.css */
.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 35px 20px 20px;
  border-right: 1px solid #00000025;
  z-index: 1;
  /* margin-left: 1rem; */
}

.nav-header span {
  padding-left: 10px;
  font-size: 16.5px;
}

.footer {
  width: calc(100vw - 15vw);
  margin-left: auto;
}

.page-photo-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

.page-photo-list .photo-list > li:not(:last-child), .search-page .photos-desc-content > li:not(:last-child){
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
}

.page-photo-list .photo .photo-details .user-photo {
  width: 550px;
  height: 400px;
}
/*Clase foto de usuario*/
.user-photo {
  object-fit: cover;
  border-radius: 10px;
  margin-top: 8px;
}

/*Redondeo avatar*/
.avatar-post {
  border-radius: 100px;
  height: 40px;
  object-fit: cover;
  width: 40px;
}

/* BUTTONS */
.delete-post-button {
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 0;
  padding: 5px;
  border: none;
  background-color: transparent;
}
.delete-post-button:hover, .comment-button:hover, .like-button:hover {
  cursor: pointer;
}

.comment-button, .like-button {
  border: none;
  background-color: transparent;
  font-size: 16px;
}