/* CSS para el contenido del modal */
.modal-content {
  width: auto;
  height: auto;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* CSS para el modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Z-index alto para estar encima del contenido principal */
}

/*SCROLLBARS*/
.comments-list-container::-webkit-scrollbar,
.modal-content::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento en navegadores webkit */
}

.comments-list-container::-webkit-scrollbar-thumb,
.modal-content::-webkit-scrollbar-thumb {
  background-color: #505050; /* Color de la barra de desplazamiento */
  border-radius: 8px; /* Borde redondeado de la barra de desplazamiento */
}

/*-----------------------*\
    MODAL search user
\*-----------------------*/

/* CSS para el user overlay */
.search-user .user-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* CSS para el contenido del userContent */
.search-user .user-content {
  position: absolute;
  top: 11vh;
  left: 0;
  float: left;
  gap: 20px;
  overflow: hidden;
  border-radius: 5px;
  height: 100%;
}

.search-user .user-content label {
  text-align: center;
}

.search-user .user-content input {
  padding: 5px;
  border-radius: 5px;
}

.search-user .user-content fieldset {
  display: flex;
  gap: 5px;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;
}

.search-user .user-content .name-user {
  font-size: 12px;
  padding-left: 5px;
}

/*list-search-user*/
.search-user .user-content .list-search-user {
  margin: 10px 0;
  padding: 0;
  max-height: 90%;
  overflow-y: auto;
  max-width: 300px;
}

.search-user .user-content .list-user {
  display: flex;
  align-items: center;
}

.search-user .user-content .list-user .user-info {
  overflow-x: hidden;
  max-width: 300px;
}
.search-user .user-content .userInfo a {
  text-decoration: none;
  margin-bottom: 10px;
}
.search-user .user-content .userInfo .name-user {
  font-size: 14px;
  margin: 0 0 0 15px;
}

/* overlay de config*/
.config-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.config-content {
  position: absolute;
  bottom: 3%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*-----------------------*\
    MODAL ELIMINAR POST
\*-----------------------*/

/*Modal de borrar publicacion*/
.modal-content.delete-post-content {
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}
.modal-content.delete-post-content .buttons-delete-post {
  display: flex;
  gap: 10px;
}

/*----------------------------*\
    MODAL Token caducado POST
\*----------------------------*/
.modal-content.token-caducado {
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}
.modal-content.token-caducado .buttons-logout-modal .secondary-button {
  margin-top: 5px;
}

/*---------------------*\
    MODAL BOTÓN "MÁS"
\*---------------------*/

.nav-header > .config-overlay {
  background: none;
}

.nav-header > .config-overlay .config-content {
  padding: 10px;
  position: absolute;
  left: 4vh;
  bottom: 10vh;
}

.nav-header > .config-overlay > .config-content > .edit-profile > .modal-content {
  display: block;
  margin: auto;
}

.nav-header > .config-overlay > .config-content > button {
  border: none;
  display: flex;
  gap: 0rem;
  background-color: transparent;
  cursor: pointer;
  width: 8vw;
  border-radius: 8px;
  padding: 20px;
  transition: background 0.1s ease-in-out;
}

.nav-header > .config-overlay > .config-content > button:hover {
  transition: background 0s ease-in-out;
}

.nav-header > .config-overlay > .config-content > :first-child {
  justify-content: left;
}

.nav-header .auth-register {
  justify-self: left;
  margin: 0;
}
.nav-header .config-overlay span {
  font-size: 14px;
}

.nav-header .config-content button:nth-child(4) svg {
  margin-left: 5px;
}
.nav-header .config-content button:nth-child(3) svg {
  margin-left: -5px;
}

.toggle-mode {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*---------------------*\
  MODALES PUBLICACIONES
\*---------------------*/

/* Imagen en el modal */
.modal-content .modal-img {
  height: 100%;
  width: 100%;
}

.modal-img > img {
  display: block;
  margin: auto;
  width: 100%;
  object-fit: cover;
  max-height: 70vh;
}

.modal-content .modal-data {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 30vw;
  line-height: 18px;
  font-size: 16px;
}

.modal-content .modal-data .user-description {
  padding-bottom: 15px;
  margin-bottom: 10px;
  margin: 0 0 10px 0;
  width: auto;
}

.modal-data .comments {
  margin-bottom: 15px;
}

.user-details > p {
  font-size: 16px;
}

.modal-content .modal-data .user-description {
  padding-bottom: 35px;
}

.modal-content .user-description > p {
  font-size: 16px;
}

/* Comentarios */
.comments {
  display: flex;
  flex-direction: column;
  height: 45vh;
}

.comments > p {
  height: 1.5vh;
  font-size: 16px;
  margin-bottom: 10px;
}

.comments-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100%;
  margin-bottom: 5px;
  padding: 10px;
  overflow-y: auto;
}

.user-comment {
  display: flex;
  flex-direction: column;
  transition: background 0.1s ease-in-out;
}

.user-comment:hover {
  transition: background 0s ease-in-out;
}

.comments-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 28vw;
  margin-top: 5px;
}

.comments-list > .user-info {
  align-items: start;
}

.comments-list > .comment {
  margin-top: 5px;
  margin-left: 15px;
}

.user-details > p {
  text-align: left;
  text-wrap: nowrap;
}

.comments-list .comment {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: clip;
  text-align: left;
}

.date-and-delete {
  display: flex;
  justify-content: end;
}

.date-and-delete > button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.comment-date {
  font-size: 12px;
  cursor: default;
}

.like-and-comment {
  padding: 10px 0px;
  margin-left: 15px;
  text-align: left;
  display: flex;
  gap: 15px;
}

.comment-form {
  display: flex;
  align-items: baseline;
}

.comment-form > fieldset {
  border: none;
}

.comment-form > fieldset > input {
  padding: 7px;
  border-radius: 5px;
  width: 25vw;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.comment-form > fieldset > input:focus {
  outline: none;
}

.comment-form button {
  width: 4vw;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.comments .edit-comment {
  max-width: 20vw;
  display: flex;
  flex-direction: column;
}

.comments .edit-comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.comments .edit-comment p {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 10px;
  text-align: left;
}

.comments .edit-comment {
  padding: 5px;
}

.comments .edit-comment input {
  padding: 7px 0;
  width: 20vw;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.edit-comment > .comment-form {
  display: flex;
}

.edit-comment > .comment-form > input {
  padding: 7px;
}

/*dark*/
.dark .comments .edit-comment input {
  color: #fff;
  border-bottom: 1px solid #505050;
}
/*light*/

.comments .edit-comment button {
  width: fit-content;
}

.comments .edit-comment .edit-comment-button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.comments .edit-comment .buttons-comment-options {
  display: inline-flex;
  gap: 10px;
  justify-content: center;
}

/* Botón cerrar modal publicación */
.modal-overlay > button {
  position: absolute;
  top: 10px;
  right: 35px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/*-------------------------------------*\
 MEDIA QUERIES - MODALES PUBLICACIONES
\*-------------------------------------*/

/* PANTALLAS w1400px */
@media (min-width: 1400px) and (max-width: 2560px) {
  .user-description {
    padding-top: 20px;
  }

  .comment-form > fieldset > input {
    width: 22vw;
  }
}

/* PANTALLAS w1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .modal-content {
    width: 95vw;
  }

  /* Imagen de la publicación */
  .modal-content .modal-img {
    width: 55%;
  }

  /* Zona de comentarios */
  .modal-content > .modal-data {
    width: 39vw;
  }

  .user-comment > .comments-list {
    margin-top: 5px;
    margin-left: 15px;
    width: 95%;
  }

  .user-comment > .comments-list > .comment {
    margin: 5px 5px 10px 15px;
  }

  /* Input de comentarios */
  .comment-form > fieldset > input {
    width: 28vw;
    font-size: 17px;
  }

  .comment-form > button {
    font-size: 15px;
  }
}

/* PANTALLAS w768px */
@media (min-width: 425px) and (max-width: 768px) {
  .modal-content {
    max-width: 85vw;
    max-height: 95vh;
    flex-direction: column;
    overflow-y: hidden;
  }

  .modal-content .modal-img {
    width: auto;
    height: 55vh;
    margin-top: 10px;
  }

  .modal-content .modal-img img {
    height: 90%;
  }

  .modal-content .modal-data {
    height: 95%;
    width: 90%;
    margin: auto;
  }

  .modal-overlay .modal-data .user-description {
    margin: 0;
  }

  .user-comment > .comments-list {
    margin-top: 5px;
    margin-left: 15px;
    width: 95%;
  }

  .modal-data > .comments {
    height: 18vh;
    margin-bottom: 0;
  }

  .comments > p {
    margin: 15px;
  }

  .comment-form > fieldset > input {
    width: 60vw;
    padding: 5px;
    font-size: 17px;
  }

  .modal-overlay > button {
    right: 15px;
  }
}

/* PANTALLAS w425px */
@media (min-width: 375px) and (max-width: 425px) {
  .photo .photo-details .modal-content {
    min-width: 100%;
    min-height: 100%;
    border-radius: 0px;
    justify-content: start;
  }

  .modal-content .modal-img {
    max-height: 50vh;
    margin-top: 0px;
    margin-bottom: -15px;
  }

  .modal-content .modal-img img {
    width: 98vw;
    max-height: auto;
    object-fit: contain;
  }

  .modal-overlay .modal-content .modal-data {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .modal-data > .comments {
    height: 30vh;
  }

  .date-and-delete svg {
    vertical-align: bottom;
    transform: scale(0.6);
  }

  .modal-overlay > button {
    top: 15px;
    transform: scale(1.8);
  }
}

/* PANTALLAS w375px */
@media (min-width: 320px) and (max-width: 375px) {
}

/* PANTALLAS w320px */
@media (max-width: 320px) {
}

/*---------------------*\
   MODAL EDITAR PERFIL
\*---------------------*/

.edit-profile > .modal-content {
  flex-direction: column;
}

.edit-profile > .modal-content > .user-data {
  flex-direction: row;
  text-align: center;
}

.edit-profile > .modal-content fieldset {
  border: none;
}

.edit-profile > .modal-content > .change-avatar {
  text-align: center;
  margin-bottom: 30px;
}

.change-avatar label {
  margin-bottom: 10px;
}

.change-avatar > fieldset > div {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.change-avatar > fieldset > div > img {
  height: 125px;
  width: 125px;
  object-fit: cover;
  border-radius: 100%;
  align-self: center;
  margin: 15px 0px;
}

.change-avatar > fieldset > div > figure > img {
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  align-self: center;
}

.change-avatar > fieldset > div > p {
  font-size: 16px;
  margin: 7px;
}

.user-data > .edit-user-data > div > fieldset {
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: left;
}

.user-data > .edit-user-data > div > fieldset > label {
  margin-bottom: 5px;
  font-size: 15px;
}

.user-data > .edit-user-data > div > fieldset > input {
  border-radius: 8px;
  height: 3vh;
  font-size: 14px;
  padding: 0 10px;
  padding: 0 10px;
}

.user-data > .edit-user-data > :first-child {
  margin-bottom: 20px;
}

.user-data > .edit-user-data > :nth-child(2) {
  margin-bottom: 10px;
}

.user-data > .edit-user-data > :nth-child(3) > div {
  display: flex;
  justify-content: space-evenly;
}

/*---------------------*\
  MODAL ELIMINAR PERFIL
\*---------------------*/

.delete-profile .modal-content {
  flex-direction: column;
}

.delete-profile .modal-content > :first-child {
  margin-bottom: 20px;
}

.delete-profile > .modal-content > div {
  margin: 0px 0px 25px;
}

.delete-profile .modal-content > :nth-child(2) > img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 10px;
}
