/* CSS para el contenido del modal */
.modal-content {
  background-color: var(--overlay-general-bg);
  padding: var(--overlay-general-padding);
  border-radius: var(--overlay-general-border-radius);
  box-shadow: var(--overlay-general-box-shadow);
  height: 90%;
  overflow: scroll;
  overflow-x: hidden
}

/* .modal-content::-webkit-scrollbar-thumb {
  background-color: #fa0000;
  border-radius: 8px;
} */

.modal-content > img {
  width: 100%;
  height: 60%;
  /* object-fit: cover; */
}

/* CSS para el modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Z-index alto para estar encima del contenido principal */
}
