/* CSS para el contenido del modal */
.modal-content {
  background-color: var(--overlay-general-bg);
  padding: var(--overlay-general-padding);
  border-radius: var(--overlay-general-border-radius);
  box-shadow: var(--overlay-general-box-shadow);
  width: auto;
  height: auto;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* CSS para el modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Z-index alto para estar encima del contenido principal */
}

/*SCROLLBARS*/
.comments-list-container::-webkit-scrollbar,
.modal-content::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento en navegadores webkit */
}

.comments-list-container::-webkit-scrollbar-thumb,
.modal-content::-webkit-scrollbar-thumb {
  background-color: #505050; /* Color de la barra de desplazamiento */
  border-radius: 8px; /* Borde redondeado de la barra de desplazamiento */
}

/*---------------------*\
  MODALES PUBLICACIONES
\*---------------------*/

/* Imagen en el modal */
.modal-content .modal-img {
  height: 100%;
  width: 100%;
}

.modal-img > img {
  display: block;
  margin: auto;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.modal-content .modal-data {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 30vw;
}

.modal-content .modal-data .user-description {
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}

/* Comentarios */
.comments {
  display: flex;
  flex-direction: column;
  height: 45vh;
}

.comments > p {
  height: 4vh;
}

.comments-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100%;
  background-color: var(--overlay-general-bg);
  margin-bottom: 5px;
  padding: 10px;
  overflow-y: auto;
}

.user-comment {
  display: flex;
  flex-direction: column;
}

.comments-list {
  display: flex;
  align-items: center;
  margin: 5px 0px 5px;
  width: 28vw;
}

.comments-list > .user-info {
  align-items: start;
}

.user-details > p {
  text-align: left;
  text-wrap: nowrap;
}

.comments-list .comment {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: auto;
}

.date-and-delete {
  display: flex;
  justify-content: start;
}

.date-and-delete > button {
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.comment-date {
  margin-left: auto;
  font-size: 14px;
  color: #c7c7c7;
}

.comment-form {
  box-shadow: none;
  display: flex;
  margin: 0;
}

.comment-form input {
  width: 25vw;
}

.comment-form button {
  width: 3vw;
}
