.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-page .search-photos-form {
    display: flex;
    gap: 10px;
    align-items: baseline;
    margin-bottom: 10px;
}

.search-page .search-photos-form fieldset{
    border-radius: 5px;
    padding: 8px;
}

.search-page .search-photos-form label{
    margin-right: 10px;
}

.search-page .search-photos-form input{
    padding: 5px;
    min-width: 350px;
    border-radius: 5px;
}

.search-page .photos-desc-content .photo .profile-posts {
    width: 550px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
