/* Perfil de usuario */
.user {
  display: flex;
  width: 600px;
  position: relative;
  margin: auto;
}

/* Avatar */
.user > .img-container {
  height: 120px;
  width: 120px;
  border-radius: 100px;
  margin: 25px 50px 25px 50px;
  display: flex;
}

.user > .img-container > img {
  object-fit: cover;
  width: inherit;
  border-radius: inherit;
}

/* Datos del usuario */
.user-data {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  min-width: 12vw;
}

.user-data > * {
  margin-top: 15px;
}

.user-data > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*Botón de editar y cerrar sesión*/
.user-buttons {
  display: flex;
  flex-direction: row;
  min-width: 22vw;
  gap: 1vw;
}

/* Lista de fotos del perfil */
.user-photo-list,
.p-photo-list {
  display: flex;
  width: calc(100vw - 15vw);
  margin-left: auto;
}

.user-photo-list > .photo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  justify-content: center;
  width: 1050px;
  margin: auto;
  margin-top: 5px;
}

.user-photo-list .photo .photo-date {
  display: none;
}

.user-photo-list .photo .profile-posts {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 10px;
}

/* Delete button */
.delete-post-button-user-profile {
  position: absolute;
  top: 5px;
  right: -4px;
  z-index: 0;
  padding: 9px 0px;
  border: none;
  background-color: transparent;
}

.delete-post-button-user-profile:hover {
  cursor: pointer;
}

.delete-post-button-user-profile svg {
  filter: drop-shadow(0px 0px 2px gray);
}

/*--------------------*\
      MEDIA QUERIES
\*--------------------*/

/* PANTALLAS w1400px */
@media (min-width: 1024px) and (max-width: 1400px) {
  /* Lista de fotos */
  .user-photo-list > .photo-list > li {
    width: 200px;
    height: 200px;
  }
  .user-photo-list > .photo-list > li > .photo .profile-posts {
    width: 200px;
    height: 200px;
  }

  .user-photo-list > .photo-list {
    width: 600px;
  }

  /* Info del perfil del usuario */
  .user {
    display: flex;
    width: calc(100vw - 75vw);
  }
}

/* PANTALLAS w1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Lista de fotos */
  .user-photo-list > .photo-list > li {
    width: 200px;
    height: 200px;
  }

  .user-photo-list > .photo-list > li > .photo .profile-posts {
    width: 200px;
    height: 200px;
  }

  .user-photo-list {
    margin: auto;
  }

  .user-photo-list > .photo-list {
    width: 620px;
    gap: 20px;
  }

  .user {
    display: flex;
    margin-bottom: 50px;
    width: calc(100vw - 70vw);
  }

  .user .user-buttons {
    flex-direction: column;
    margin: auto;
    min-width: 8vw;
  }

  .user .user-buttons .user-button {
    margin-top: 0;
  }

  /* Avatar */
  .user > img {
    height: 120px;
    width: 120px;
    margin: auto 20px;
  }

  /* Datos del usuario */
  .user-data {
    min-width: 25vw;
  }

  .user-data > * {
    font-size: 14px;
  }

  .user-photo-list {
    width: calc(100vw - 52vw);
  }
}

/* PANTALLAS w768px */
@media (min-width: 425px) and (max-width: 768px) {
  /* Lista de fotos */
  .user-photo-list > .photo-list > li {
    width: 175px;
    height: 175px;
  }
  .user-photo-list > .photo-list > li > .photo .profile-posts {
    width: 175px;
    height: 175px;
  }

  .user-photo-list > .photo-list {
    width: 550px;
    gap: 10px;
  }

  .user {
    margin: 30px auto;
    width: calc(100vw - 65vw);
  }

  /* Avatar */
  .user > img {
    height: 100px;
    width: 100px;
  }

  .user-photo-list {
    width: calc(100vw - 42vw);
  }
}

/* PANTALLAS w425px */
@media (min-width: 393px) and (max-width: 425px) {
  /* Lista de fotos */
  .user-photo-list > .photo-list > li {
    width: 125px;
    height: 125px;
  }
  .user-photo-list > .photo-list > li > .photo .profile-posts {
    width: 125px;
    height: 125px;
  }

  .user-photo-list > .photo-list {
    width: 425px;
    gap: 10px;
  }

  .user-photo-list {
    margin: auto;
  }

  .user {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: calc(100vw - 18vw);
  }

  .user > .user-data {
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: max-content;
  }

  .user > .user-data > div,
  .user > .user-data > h3 {
    margin-top: 0;
  }

  .user .user-buttons {
    gap: 15px;
  }

  .user .user-buttons .user-button {
    margin-top: 0;
  }

  /* Avatar */
  .user > img {
    height: 80px;
    width: 80px;
    margin: auto 20px;
  }

  /* Datos del usuario */
  .user-data {
    width: 10vw;
    text-align: center;
  }

  .user-data > * {
    margin-top: 10px;
    font-size: 14px;
  }

  .photo-details .modal-overlay svg {
    width: 15px;
    height: 20px;
  }

  .user-photo-list {
    width: calc(100vw - 8vw);
  }
}

/* PANTALLAS w390px */
@media (min-width: 375px) and (max-width: 393px) {
  /* Lista de fotos */
  .user-photo-list > .photo-list > li {
    width: 100%;
    height: 110px;
  }

  .user-photo-list > .photo-list > li > .photo .profile-posts {
    width: 110px;
    height: 110px;
  }

  .user-photo-list > .photo-list {
    width: 375px;
    gap: 10px;
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    width: calc(100vw - 18vw);
  }

  .user-photo-list {
    width: calc(100vw - 8vw);
    margin-left: auto;
  }
}


/* PANTALLAS w375px */
@media (min-width: 320px) and (max-width: 375px) {
  /* Lista de fotos */
  .user-photo-list > .photo-list > li {
    width: 110px;
    height: 110px;
  }

  .user-photo-list > .photo-list > li > .photo .profile-posts {
    width: 110px;
    height: 110px;
  }

  .user-photo-list > .photo-list {
    width: 375px;
    gap: 10px;
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    width: calc(100vw - 18vw);
  }

  .user-photo-list {
    width: calc(100vw - 8vw);
    margin-left: auto;
  }
}

/* PANTALLAS w320px */
@media (max-width: 320px) {
  /* Lista de fotos */
  .user-photo-list,
  .p-photo-list {
    display: flex;
    width: calc(100vw - 10vw);
    margin-left: auto;
  }

  .user-photo-list > .photo-list > li {
    width: 96px;
    height: 96px;
  }
  .user-photo-list > .photo-list > li > .photo .profile-posts {
    width: 96px;
    height: 96px;
  }

  .user-photo-list > .photo-list {
    width: 320px;
    gap: 5px;
  }

  .user-photo-list {
    margin: auto;
  }

  .user > .user-data {
    align-items: center;
    justify-content: center;
    width: max-content;
  }

  .user .user-buttons {
    gap: 15px;
  }

  .user .user-buttons .user-button {
    margin-top: 0;
  }

  /* Avatar */
  .user > img {
    height: 80px;
    width: 80px;
    margin: auto 20px;
  }

  .user-data > * {
    font-size: 14px;
  }

  .user-photo-list {
    width: calc(100vw - 8vw);
  }

  .photo-details .modal-overlay svg {
    width: 15px;
    height: 20px;
  }
}
