:root {
  --overlay-general-bg: #181818;
  --overlay-general-padding: 20px;
  --overlay-general-border-radius: 8px;
  --overlay-general-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --overlay-light-bg: #fff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Mulish, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

footer {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  text-align: center;
  align-self: center;
  margin: 25px 15px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  text-align: center;
  cursor: default;
}

span {
  cursor: default;
}

a {
  text-decoration: none;
}

a p {
  cursor: pointer;
}

input:focus-visible {
  outline: none;
}

button {
  cursor: pointer;
}

.body-app {
  display: grid;
  grid-template-columns: auto 4fr;
  grid-template-rows: auto 6fr auto;
  position: relative;
  min-height: 100vh;
}

.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 35px 20px 20px;
  z-index: 1;
}

.nav-header span {
  padding-left: 10px;
  font-size: 16.5px;
  align-self: center;
  cursor: pointer;
}

.footer {
  width: calc(100vw - 15vw);
  margin-left: auto;
}

.nav-menu {
  gap: 2rem;
  align-items: start;
}

.nav-menu span {
  text-align: center;
}

.nav-menu h1 {
  margin: 1rem 0;
}

.nav-menu a {
  text-decoration: none;
}

/*Nav menu buttons*/
.search-user-button,
.add-photos-button,
.search-photos-button,
.go-perfil-button,
.config-button,
.auth-register {
  border: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  width: 12vw;
  border-radius: 8px;
  padding: 20px 20px;
  transition: background 0.1s ease-in-out;
}

.auth-log {
  justify-self: end;
  margin: 10px;
  grid-column: 2 / 4;
  grid-row: 1;
}

.auth-register {
  justify-self: end;
  margin: 5px;
  grid-column: 2 / 4;
  grid-row: 1;
}

.auth-register a{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.auth {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 5px;
  border-radius: 50px;
  padding: 0 15px 0 0;
  transition: background 0.1s ease-in-out;
}

.auth:hover {
  transition: background 0s ease-in-out;
}

.auth .avatar-post {
  width: 50px;
  height: 50px;
}

.auth > li {
  margin-right: 20px;
}

.page-photo-list .photo-list > li:not(:last-child),
.search-page .photos-desc-content .photo-list > li:not(:last-child) {
  margin-bottom: 30px;
}

.photo img {
  cursor: pointer;
}

.photo-list {
  list-style: none;
  margin: 20px;
  padding: 0;
}

.photo .photo-details {
  position: relative;
}

.photo .photo-details .photo-date-place {
  top: -13px;
  display: flex;
  position: absolute;
  left: 55px;
  gap: 8px;
}

.photo .like-and-comment-buttons {
  display: flex;
  gap: 15px;
  margin: 5px 0 0 10px;
}

.photo .like-button {
  display: flex;
  gap: 5px;
  align-items: center;
  fill: transparent;
  user-select: none;
}

.photo .like-button svg {
  fill: #9b9b9b;
}

.photo .like-button > .like {
  fill: #ff0000;
}

.photo .user-description {
  align-items: center;
  display: flex;
  height: 30px;
  margin: 15px 0 20px 0;
  max-width: 550px;
}

.photo .user-description > p {
  overflow-wrap: break-word;
  overflow-x: auto;
  overflow-y: clip;
  text-align: left;
}

.disabled-link {
  pointer-events: none; /* Deshabilita eventos de puntero */
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
}

.user-info a {
  display: flex;
  align-items: center;
  padding: 5px;
}
.user-info p {
  margin: 5px;
}

/* NotFoundPage */

.not-found-container {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  height: 70vh;
}

.not-found-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}

.not-found-title {
  font-size: 2rem;
  color: #000;
  margin-bottom: 20px;
}

.not-found-message {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #000;
}

.not-found-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Botón principal */
.main-button {
  background-color: #007bff;
  color: white !important;
  font-size: 16px !important;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.main-button:hover {
  background-color: #0056b3 !important;
}

.main-button:active {
  background-color: #003975 !important;
  color: #a0a0a0 !important;
}

/* Botón secundario */
.secondary-button {
  background-color: transparent;
  color: #007bff !important;
  font-size: 16px !important;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.secondary-button:hover {
  color: #0056b3 !important;
}

.secondary-button:active {
  color: #003975 !important;
}

/* Botón eliminar */
.delete-button {
  background-color: transparent;
  color: #ff0000 !important;
  font-size: 16px !important;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.delete-button:hover {
  color: #be0000 !important;
}

.delete-button:active {
  color: #8a0000 !important;
}

/* ======================= *\
        RESPONSIVE
\* ======================= */
/*GENERAL*/
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p, span {
    font-size: 14px;
  }

  footer{
    font-size: 15px;
  }
  
  .modal-content .user-description > p{
    font-size: 14px;
  }
  
}

@media screen and (max-width: 600px) {
  .app{
    height: 110%;
  }
  h2 {
    font-size: 1.1rem;
  }
}



/* Auth */
@media (max-width: 768px) {
  .auth-log, .auth-register {
    display: none;
  }

  /*650px*/
}

/*Nav-Header*/
@media screen and (max-width: 1029px) {
  .nav-header {
    width: 12vw;
  }
  
  .nav-header span {
    display: none;
  }

  .search-user-button,
  .add-photos-button,
  .search-photos-button,
  .go-perfil-button,
  .config-button,
  .auth-register {
   width: max-content;
  }

}

@media screen and (max-width: 768px) {
  .nav-header {
    padding: 20px 35px 20px 10px;
  }

}

@media screen and (max-width: 650px) {
  .nav-header {
    position: fixed;
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    bottom: 0;
    top: auto;
  }
  .nav-header button {
    width: 60px;
  }
  .nav-header .go-perfil-button{
    width: auto;
  }

  .dark .nav-header {
    background-color: #141414;
  }

  .light .nav-header {
    background-color: #fff;
  }

  .nav-menu {
    flex-direction: row;
    display: flex;
    gap: 0.5rem;
  }
  .nav-menu .avatar-post {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 380px) {
  .nav-header button{
    width: 55px;
  }
  
}
@media screen and (max-width: 320px){
  .nav-header{
    position: fixed;
    height: 7vh;
    padding: 0;
  }
    .nav-menu {
    gap: 0rem;
  }
  .nav-menu .avatar-post {
    width: 25px;
    height: 25px;
  }
}
 



