:root {
  --overlay-general-bg: #181818;
  --overlay-general-padding: 20px;
  --overlay-general-border-radius: 8px;
  --overlay-general-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* overlay general modo claro #c8c8c8 */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Mulish, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

footer {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  text-align: center;
  align-self: center;
  margin: 15px;
}

a {
  text-decoration: none;
  color: #000;
}

input:focus-visible{
  outline: none;
}
.body-app {
  display: grid;
  grid-template-columns: auto 4fr;
  grid-template-rows: auto 6fr auto;
  position: relative;
  min-height: 100vh;
}

.light {
  background-color: white;
  color: #000000;
}
.light button {
  color: #000000;
}

.dark {
  background-color: #242424;
  color: #f5f5f5;
}
.dark button {
  color: #fff;
}

.dark a {
  color: #fff;
}

.nav-menu {
  gap: 2rem;
  align-items: start;
}

.nav-menu span {
  text-align: center;
}

.nav-menu h1 {
  margin: 1rem 0;
}

.nav-menu a {
  text-decoration: none;
}

/*Nav menu buttons*/
.search-user-button,
.add-photos-button,
.search-photos-button,
.go-perfil-button,
.config-button {
  border: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  width: 12vw;
  border-radius: 8px;
  padding: 20px 20px;
  transition: background 0.1s ease-in-out;}

.search-user-button:hover,
.add-photos-button:hover,
.search-photos-button:hover,
.go-perfil-button:hover,
.config-button:hover {
  background-color: #ffffff09;
  transition: background 0s ease-in-out;
}

.auth-log,
.auth-register {
  justify-self: end;
  margin: 10px;
  grid-column: 2 / 4;
  grid-row: 1; 
}

.auth-register {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  list-style-type: none;
  color: #999;
  line-height: 30px;
  padding: 0 15px;
  font-weight: 700;
}

.auth {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 5px;
  border-radius: 50px;
  padding: 0 15px 0 0;
  transition: background 0.1s ease-in-out;
}

.auth:hover {
  transition: background 0s ease-in-out;
  background-color: #ffffff09;
}

.auth .avatar-post{
  width: 50px;
  height: 50px;
}

.auth > li {
  margin-right: 20px;
}

.photo {
  cursor: pointer;
}

.photo-list {
  list-style: none;
  margin: 20px;
  padding: 0;
}

.photo .photo-details {
  position: relative;
}

.photo .photo-details .photo-date-place {
  top: -11px;
  display: flex;
  position: absolute;
  left: 50px;
  gap: 8px;
  color: #c7c7c7;
}

.photo .photo-details .photo-date-place p {
  font-size: 10px;
}

.photo .like-and-comment-buttons {
  display: flex;
  gap: 10px;
}

.photo .user-description {
  align-items: center;
  display: flex;
  height: 30px;
  margin:  15px 0 20px 0;
  max-width: 550px;
}

.photo .user-description > p {
  overflow-wrap: break-word;
  overflow-x: auto;
  overflow-y: clip;
  text-align: left;
}

.disabled-link {
  pointer-events: none; /* Deshabilita eventos de puntero */
  background-color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.user-info a {
  display: flex;
  align-items: center;
  padding: 5px;
}
.user-info p {
  margin: 5px;
}

/* CSS para el user overlay */
.search-user .user-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* CSS para el contenido del userContent */
.search-user .user-content {
  position: absolute;
  top: 11vh;
  left: 0;
  float: left;
  height: 100%;
  background-color: var(--overlay-general-bg);
  padding: var(--overlay-general-padding);
  border-radius: var(--overlay-general-border-radius);
  box-shadow: var(--overlay-general-box-shadow);
  gap: 20px;
  overflow: hidden;
  border-radius: 5px;
}
.search-user .user-content label{
  text-align: center;
}

.search-user .user-content input{
  padding: 5px;
  border-radius: 5px;
}

.search-user .user-content fieldset {
  display: flex;
  gap: 5px;
  flex-direction: column;
  border: 1px solid #81818161;
  border-radius: 5px;
  padding: 15px;
}

.search-user .user-content .name-user{
  font-size: 12px;
  padding-left: 5px;
}

/*list-search-user*/
.search-user .user-content .list-search-user {
  margin: 10px 0;
  padding: 0;
  max-height: 90%;
  overflow-y: auto;
  max-width: 300px;
}

.search-user .user-content .list-user {
  display: flex;
  align-items: center;
}

.search-user .user-content .list-user .user-info {
  overflow-x: hidden;
  max-width: 300px;
}
.search-user .user-content .userInfo a {
  text-decoration: none;
  margin-bottom: 10px;
}
.search-user .user-content .userInfo .name-user {
  font-size: 14px;
  margin: 0 0 0 15px;
}

/* overlay de config*/
.config-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Z-index alto para estar encima del contenido principal */
}

.config-content {
  background-color: var(--overlay-general-bg);
  padding: var(--overlay-general-padding);
  border-radius: var(--overlay-general-border-radius);
  box-shadow: var(--overlay-general-box-shadow);
  position: absolute;
  bottom: 3%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* NotFoundPage */

.not-found-container {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  height: 70vh;
}

.not-found-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%; /* Ajusta según sea necesario */
}

.not-found-title {
  font-size: 2rem;
  color: #000;
  margin-bottom: 20px; /* Mayor margen inferior para separar el título del párrafo */
}

.not-found-message {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #000;
}

.not-found-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al contenedor sin distorsión */
  z-index: 1; /* Coloca la imagen detrás del contenido */
}
/* Botón principal */
.main-button {
  background-color: #007bff;
  color: white !important;
  font-size: 16px !important;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.main-button:hover{
  background-color: #0056b3 !important;
}

.main-button:active{
  background-color: #003975 !important;
  color: #a0a0a0 !important;
}

/* Botón secundario */
.secondary-button{
  background-color: transparent;
  color: #007bff !important;
  font-size: 16px !important;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.secondary-button:hover{
  color: #0056b3 !important;
}

.secondary-button:active{
  color: #003975 !important;
  
}

/* Botones de usuario */
.user-button {
  border-radius: 8px;
  background-color: #686868;
  border: none;
  height: 25px;
  width: 100px;
  margin-top: 20px;
  font-weight: bold;
}
.user-button:hover {
  cursor: pointer;
  background-color: #3f3f3f;
  border: none;
}
.user-button:active {
  background-color: #303030;
  color: #8a8a8a;
}
